{:paths ["."]
 :deps {org.clojure/tools.cli
        {:git/url "https://github.com/clojure/tools.cli.git"
         :git/sha "865e988e6af3b2a7ea7fad218ce2160b72157c27"}}
 :aliases {:verify {:main-opts ["-m" "verify"]}}}
